.chat-output {
  overflow: auto;
  background-color: #444654;
  margin-left: auto;
  margin-right: auto;
  animation: slideInFromTop 0.5s forwards;
  animation-delay: 0.6s;
  height: calc(100vh - 100px);
  width: 100%;
}

.chat-output .message {
  margin-bottom: 10px;
  margin-left: 250px;
  margin-right: 250px;
  color: #f5f5f5; /* off-white color */
  padding: 10px;
  text-align: center;
}

.chat-output .message.user {
  background-color: #343541;
}

.chat-output .message.chatbot {
  background-color: #444654;
}
