.app {
  display: flex;
  height: 100vh; /* take up full viewport height */
  width: 100vw; /* take up full viewport width */
  background-color: #353740;
  overflow: hidden;
}

/* This applies to all scrollable elements */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #343541; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #353740; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #202123; /* creates padding around scroll thumb */
}
